
header.cabecalho{
    background-color: rgb(69, 122, 236);
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color:#2196F3; 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: whitesmoke;
  display: block;
  transition: 0.2s;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form.example input[type=text] {
  padding: 5px;
  font-size: 17px;
  border: 0px solid grey;
  float: right;
  width: 30%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: right;
  width: 6%;
  padding: 5px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 0px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}


.sidenav p {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  
}

header a.carrinho{
  background-color: orange; /* Green */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

header a.carrinho:hover{
  color: orange;


}



.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


header a{
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header a:hover {
  background: rgb(65, 106, 196);
  text-decoration: underline;
}


header a:link {
  color: white;
  text-decoration: none;
}

header a:visited {
  color: white;
  text-decoration: none;
}


body{
  transition: margin-left .5s;
  margin: 0;
  margin-right: 0;
  overflow-x: hidden;
}

form.login{
    display: inline-block;
    position: relative;
    left: 1700px;
}

h1.titulo{
    position: relative;
    left: 50px;
    color: cornsilk;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: -webkit-sticky;
}

h2.menu{
    background-color: white;
    border-color: white;
    border-style: groove;
    border-width: 2px;
}

div.dropdown {
    position: relative;
    transition: all .4s ease;
    align-items: center;
    display: inline-block;
  }

button.dropbtn {
  width:250px;
  font-size: 13px;
  color: black;
  font-weight: bold;
  background-color: white;
  transition: all .4s ease;
  overflow: hidden;
}
  
  div.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 250px;
    text-align: center; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  div.dropdown-content a {
    color: black;
    font-size: 12px;
    font-family: Tahoma, Geneva, sans-serif;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
  }
  
  button.dropbtn{
    padding: 12px 16px;
    border: rgb(224, 183, 130);
  }
  
  div.dropdown-content a:hover {background-color: #ddd;}
  
  div.dropdown:hover div.dropdown-content {display: block;}
  
  div.dropdown:hover button.dropbtn {background-color: grey}



  table.tabela{
    text-align: center; 
    table-layout: auto;
    width:100%;
  }

  table.carrinho{
    text-align: center; 
    table-layout: auto;
    width:100%;
  }

  footer.rodape{
 
  position: fixed;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(243, 169, 30);
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  table.tabela tr.title{
    color: gray;
    text-align: center; 
    table-layout: auto;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    word-break: break-all;
  }



  table.carrinho tr.title{
    color: gray;
    text-align: center; 
    table-layout: auto;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    word-break: break-all;
  }

  table.tabela tr.price{
    color: rgb(83, 83, 83);
    text-align: center; 
    table-layout: auto;
    width:100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size:20px
  }

  table.carrinho tr.price{
    color: rgb(83, 83, 83);
    text-align: center; 
    table-layout: auto;
    width:100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size:20px
  }

  table.carrinho tr.qtd{
    color: rgb(83, 83, 83);
    text-align: center; 
    table-layout: auto;
    width:100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size:25px
  }

  table.contatos{
    width:100%
  }

  body h2.itens{
    color: rgb(83, 83, 83);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:20px;
    text-align: center;

  }
  

  .formu{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
  }

  div.logar{
    margin: 10px 80px;
  }

  div.cadastro{
    margin: 10px 80px;
  }

  form.cadastro{
    display: inline-block;
    width: 150%;
    height: 120%;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2196F3;
    
  }

  form.logar{
    display: inline-block;
    width: 150%;
    height: 120%;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: orange;
    
  }


  form.logar button{
    width: auto;
    height: 10%;
    background: #2196F3;
    color: white;
    border: 0px solid grey;
    border-left: none;
  }

  form.logar button:hover {
    background: #0b7dda;
  }

  form.cadastro button{
    width: auto;
    height: 10%;
    background: orange;
    color: white;
    border: 0px solid grey;
    border-left: none;
  }

  form.cadastro button:hover {
    background: #cc7502;
  }

  .limp{
    width: auto;
    height: 10%;
    background: white;
    color: black;
    border: 0px solid;
    border-left: none;
  }

  .limp:hover{
    background: lightgray+;


  }